---
import Layout from "../layouts/Layout.astro";
import SkillList from "../components/SkillList.astro";
import ProjectList from "../components/ProjectList.astro";

import featuredProjects from "../data/featured_projects";

import type { ProjectItem } from "../components/Project.astro";
---

<Layout
	title="KB Ruado (@Insidiae)"
	description="KB Ruado (@Insidiae) — Online course enthusiast"
>
	<main>
		<section id="welcome-section" class="section-hero">
			<div class="hero">
				<div class="hero__text-box">
					<h1 class="heading-primary">Hello There.</h1>
					<p class="hero__description">
						I'm an online course enthusiast working to improve my skills and
						level up my career, currently exploring a bunch of technologies to
						use for my university thesis next year. In my free time I binge
						online courses and build lots of fun and interesting projects.
					</p>
				</div>

				<div class="hero__img-box">
					<img
						src="portfolio-assets/img/hero-img.png"
						alt=""
						class="hero__img"
					/>
				</div>
			</div>
		</section>

		<SkillList />

		<section id="projects" class="section-projects">
			<div class="u-center-text u-margin-bottom--md">
				<h2 class="heading-secondary">Featured Projects</h2>
			</div>

			<ProjectList projects={featuredProjects as ProjectItem[]} />

			<div class="u-center-text u-margin-top--lg u-margin-bottom--md">
				<a href="/projects" class="btn btn--large">View More Projects &rarr;</a>
			</div>
		</section>
	</main>
</Layout>

<style>
	.section-hero {
		padding: 48px 0 96px;
		background-color: var(--color-primary-light-2);
	}

	.hero {
		display: grid;
		grid-template-columns: 1fr;
		gap: 24px;
		align-items: center;
		max-width: 1200px;
		margin: 0 auto;
		padding: 0 24px;
	}

	.hero__text-box {
		text-align: center;
	}

	.hero__description {
		font-size: 1rem;
	}

	.hero__img-box {
		grid-row: 1;
		text-align: center;
	}

	.hero__img {
		display: inline-block;
		width: 80%;
	}

	/* MOBILE AND UP: >=560px */
	@media (min-width: 35em) {
		.hero {
			padding: 48px 64px;
		}

		.hero__img {
			width: 60%;
		}
	}

	/* TABLET AND UP: >=880px */
	@media (min-width: 55em) {
		.section-hero {
			padding: 96px 0;
		}

		.hero {
			grid-template-columns: 1fr 1fr;
			padding: 0 32px;
		}

		.hero__text-box,
		.hero__description {
			text-align: revert;
		}

		.hero__description {
			font-size: 1.125rem;
		}

		.hero__img-box {
			grid-row: revert;
		}

		.hero__img {
			width: 100%;
		}

		.section-skills {
			padding: 64px 64px;
		}

		.section-projects {
			padding: 64px 64px;
		}
	}
</style>

