---
import ProjectCard from "./ProjectCard.astro";

import type { Project } from "./ProjectCard.astro";

export interface Props {
	projects: Project[];
}

const { projects } = Astro.props;
---

<div class="projects card-list">
	{projects.map((project) => <ProjectCard project={project} />)}
</div>
